<!-- _includes/navigation.html -->
{% capture currentCategorySlug %}
    {{ page.categories | default: site.default_categories | first | slugify }}
{% endcapture %}
{{ currentCategorySlug }}
<ul>
    {% for category in site.categories %}
        {% assign categorySlug = category | first | slugify %}
        {% if currentCategorySlug == categorySlug %}
            {% assign current = ' current' %}
        {% endif %}
    <li><a class="category category-{{ categorySlug }}{{ current | default: '' }}" href="/{{ categorySlug }}">{{ category | first }}</a></li>
    {% endfor %}
</ul>
