<!-- _includes/taqlist.html -->
<h2><a href="/tags/">Trending tags</a></h2>
{% capture counts_with_tags_string %}{% for tag in site.tags %}{{ tag[1] | size | prepend:"000000" | slice:-6,6 }}:{{ tag[0] }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign counts_with_tags = counts_with_tags_string | split:"," | sort | reverse %}

<ul>
    {% for count_with_tag in counts_with_tags limit:4 %}
    {% assign tag = count_with_tag | split:":" | last %}
    {% assign count = site.tags[tag] | size %}
    <li><a rel="tag" href="/tags/{{ tag | slugify }}/">{{ tag }} ({{ count }})</a></li>
    {% endfor %}
</ul>