---
---

@import "variables";
@import "common";

/**
 * HEADER
 */
body > header {
  grid-area: header;
  position: fixed;
  width: 100%;
  z-index: 1000;
  margin: 0;
  padding: 0;
  height: var(--header-height);
  min-height: var(--header-height);
  max-height: var(--header-height);
  color: var(--thomasbook-white);
  background-color: var(--thomasbook-blue);
  border-bottom: 0.1rem solid var(--thomasbook-dark-blue);
}

body > header * {
  color: var(--thomasbook-white);
}

body > header > .container > h1 {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  height: var(--header-height);
}

body > header > .container > h1 > a.thomas,
body > header > .container > h1 > span {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-family: var(--font-sans-serif);
  font-size: var(--header-font-size);
  line-height: var(--header-line-height);
  height: var(--header-height);
  letter-spacing: var(--size-letter-spacing-shrink);
  text-decoration: none;
  color: white;
  vertical-align: top;
}

body > header > .container > h1 > a.thomas {
  text-transform: lowercase;
  background-image: url('../img/icon-invert-28x28.png');
  background-size: 2.1rem;
  background-repeat: no-repeat;
  background-position: 0 0.8rem;
  padding-left: 1.8rem;
}

body > header > .container > h1 > a.thomas::first-letter {
  color: rgba(0, 0, 0, 0);
}

body > header > .container > h1 > span {
  margin-left: 0.5rem;
}

/**
 * NAVIGATION
 */
body > nav {
  grid-area: nav;
  margin: 0;
  padding: 0;
}

body > nav > .container > section > h2 {
  font-size: 1.4rem;
  line-height: 2rem;
  height: 2.4rem;
  font-family: var(--font-sans-serif);
  font-variant: all-small-caps;
  font-feature-settings: "c2sc", "smcp";
  color: var(--thomasbook-dark-grey);
  letter-spacing: 0.1rem;
  padding: 0.2rem 1.6rem;
  margin: 0;
}

body > nav > .container > section > h3 {
  padding: 0.2rem 0;
  margin: 0;
}

body > nav > .container > section > h3 > a {
  font-size: 1.4rem;
  line-height: 2rem;
  height: 2.4rem;
  font-family: var(--font-sans-serif);
  font-variant: all-small-caps;
  font-feature-settings: "c2sc", "smcp";
  color: var(--thomasbook-dark-grey);
  letter-spacing: 0.1rem;
  padding-left: 3.8rem;
}

body > nav > .container > section > h3 > a::after {
  content: '    ➤';
}

body > nav > .container > section > ul,
body > nav > .container > section > ul > li {
  padding: 0;
  margin: 0;
  list-style: none;
}

body > nav .container > section a {
  display: block;
  color: var(--thomasbook-darker-grey);
  font-size: 1.2rem;
  line-height: 2.8rem;
  font-weight: lighter;
  padding: 0 0.5rem;
  margin: 0;
  text-decoration: none;
  user-select: none;
  border: 0.1rem solid transparent;
  transition: background-color linear .2s, border .2s linear;
}

body > nav .container > section a.current {
  font-weight: bold;
  color: var(--thomasbook-ink);
}

body > nav .container > section a:hover,
body > nav .container > section a.current {
  background-color: var(--thomasbook-lighter-grey);
  border: 0.1rem solid var(--thomasbook-grey);
}

body > nav .container > section a::before {
  font-family: var(--font-fantasy);
  font-style: normal;
  font-size: 2.4rem;
  line-height: 2.8rem;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  margin: 0 0.5rem 0 0;
  padding: 0;
  height: 2.8rem;
  width: 2.8rem;
  display: inline-block;
  vertical-align: bottom;
  color: var(--thomasbook-darker-grey);
  font-weight: 400;
}

body > nav .container > section a.current::before {
  color: yellowgreen;
  font-weight: 400;
}

body > nav .container > section a.home::before {
  content: 'home';
}

body > nav .container > section a.home.current::before {
  color: var(--thomasbook-blue);
}

body > nav .container > section a.user::before {
  content: 'perm_contact_calendar';
}

body > nav .container > section a.user.current::before {
  color: saddlebrown;
}

body > nav .container > section a.category::before {
  content: 'dns';
}

body > nav .container > section a.category-naplo::before {
  content: 'chrome_reader_mode';
}

body > nav .container > section a.category-naplo.current::before {
  color: forestgreen;
}

body > nav .container > section a.category-hasznos::before {
  content: 'new_releases';
}

body > nav .container > section a.category-hasznos.current::before {
  color: darkorange;
}

body > nav .container > section a.tag::before {
  content: 'local_offer';
}

body > nav .container > section a.tag.current::before {
  color: steelblue;
}

body > nav .container > section a.date::before {
  content: 'today';
}

body > nav .container > section a.date.current::before {
  color: darkorange;
}

/**
 * MAIN CONTENT
 */
body > main {
  grid-area: main;
}

body > main > section > article {
  background-color: var(--thomasbook-white);
  border: 0.1rem solid var(--thomasbook-grey);
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  padding: 1.2rem;
}

body > main > section.list > article > header {
  font-size: var(--size-small);
  line-height: var(--size-small-line);
  vertical-align: top;
  margin-bottom: 1.4rem;
}

body > main > section.list > article > header > a.avatar {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  vertical-align: top;
  margin: 0 0.8rem 0 0;
}

body > main > section.list > article > header > a.avatar img {
  border-radius: 50%;
  vertical-align: top;
}

body > main > section.list > article > header > .meta {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: calc(100% - 5.5rem);
}

body > main > section.list > article > header > .meta img {
  min-height: 1.2rem !important;
  min-width: 1.2rem !important;
  height: 1.3rem;
  margin: 0 0.2rem;
  padding: 0;
}

body > main > section.list > article > .summary {
  margin: 1.4rem 0;
}

body > main > section.list > article > .preview {
  border: 0.1rem solid var(--thomasbook-grey);
  border-radius: 0.2rem;
  margin: 1.4rem 0;
}

body > main > section.list > article > .preview > a {
  margin: 0 0 1rem 0;
  padding: 0;
}

body > main > section.list > article > .preview > h1 {
  margin: 1rem 1.2rem 1rem 0.8rem;
}

body > main > section.list > article > .preview > h1 a {
  color: var(--thomasbook-ink);
  white-space: nowrap;
}

body > main > section.list > article > .preview > h1 a:hover {
  text-decoration: none;
}

body > main > section.list > article > .preview > p {
  margin: 1rem 1.2rem;
  font-size: var(--size-small);
  line-height: var(--size-small-line);
}

body > main > section.list > article > .more {
  font-size: var(--size-small);
  line-height: var(--size-small-line);
}

body > main > section.post > article > .column {
  padding: 4rem 0;
  column-count: 2;
  column-gap: 4rem;
}

body > main > section.post > article > p.author {
  text-align: right;
  padding-right: 1rem;
  font-style: italic;
}

body > main > section.post > article > p.author > a::before,
body > main > section.post > article > p.author > a::after {
  content: ' - ';
}

body > main > section.post > article div.table {
  overflow: auto;
  border-left: 0.3rem solid var(--thomasbook-grey);
}

body > main > section.post > article div.table > table {
  border-collapse: collapse;
  border: 0.1rem solid transparent;
}

body > main > section.post > article div.table > table th,
body > main > section.post > article div.table > table td {
  height: 5rem;
  padding: 0.3rem 0.7rem;
  text-align: center;
  vertical-align: middle;
  border: 0.1rem solid transparent;
  border-bottom-color: var(--thomasbook-grey);
  border-right-color: var(--thomasbook-grey);
}

body > main > section.post > article div.table > table th {
  font-weight: 700;
}

body > main > section.post > article div.table > table th:last-child,
body > main > section.post > article div.table > table td:last-child {
  border-right-color: transparent;
}

body > main > section.post > article div.table > table tr:last-child td {
  border-bottom-color: transparent;
}

body > main > section.post > article > div.body blockquote p {
  text-align: left;
}

body.blog-post > main > section.post > article > div.body figure {
  margin: 1rem 0;
  padding: 0;
  text-align: center;
}

body.blog-post > main > section.post > article > div.body figure img {
  display: inline-block;
}

body.blog-post > main > section.post > article > div.body figure figcaption {
  width: 100%;
  line-height: var(--size-large-line);
  font-weight: 100;
  font-style: italic;
  font-size: var(--size-small);
}

body > main > section.post > article > div.body li {
  margin-bottom: 0.2rem;
}

body.blog-post > main > section.post > article > div.body li p {
  text-indent: 0;
}

body > main > section.post > article > form {
  padding: 0 0 2rem 0;
  display: flex;
  flex-direction: row;
}

body > main > section.post > article > form > input {
  flex-grow: 1;
  margin-right: 1rem;
}

body > main > section.post > article > form > button {
  flex-grow: 0;
}

body > main > footer.pagination {
  display: block;
  margin: 0;
  padding: 1rem 0;
  width: 100%;
  height: 5rem;
}

body > main > footer.pagination > a {
  color: var(--thomasbook-darker-grey);
  font-size: 1.2rem;
  line-height: 2.8rem;
  font-weight: lighter;
  display: inline-block;
  height: 2.8rem;
  margin: 0;
  padding: 0 2rem;
  text-decoration: none;
}

body > main > footer.pagination > a.prev {
  float: left;
}

body > main > footer.pagination > a.next {
  float: right;
  text-align: right;
}

/**
 * User list cover
 */
body.user-list > div.cover {
  grid-area: cover;
  background-size: cover;
  background-position: 0 50%;
  margin-top: -1rem;
  margin-bottom: 4.3rem;
  position: relative;
}

/**
 * User list info
 */
body.user-list > div.info {
  grid-area: info;
}

/**
 * FOOTER
 */
body > footer {
  grid-area: footer;
}

/*
 * Mobile
 */
@media (max-width: 64.0625em)
{
  body {
    height: 100%;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: var(--header-height) auto max-content;
    grid-template-areas:
            "."
            "main"
            "footer";
  }

  body.user-list {
    grid-template-columns: 100%;
    grid-template-rows: var(--header-height) 25rem max-content auto 5rem;
    grid-template-areas:
            "."
            "cover"
            "info"
            "main"
            "footer";
  }

  /* HEADER */
  body > header {
    position: fixed;
    width: 100%;
    height: var(--header-height);
  }

  body > header > .container {
    display: grid;
    align-content: stretch;
    align-items: stretch;
    justify-content: stretch;
    justify-items: stretch;
    grid-template-columns: auto 5rem;
    grid-template-rows: 100%;
    grid-template-areas:
            "title menu";
    grid-gap: 1rem;
  }

  body > header > .container > a.nav {
    grid-area: menu;
    line-height: var(--header-height);
    text-align: center;
    color: var(--thomasbook-white);
  }

  body > header > .container > a.nav,
  body > header > .container > a.nav:focus,
  body > header > .container > a.nav:active {
    outline: none;
    text-decoration: none;
  }

  body > header > .container > h1 {
    white-space: nowrap;
    grid-area: title;
    padding-left: 1rem;
    line-height: var(--header-height);
    text-overflow: ellipsis;
    overflow: hidden;
  }

  body > header > .container > h1 > a.thomas,
  body > header > .container > h1 > span {
    display: inline-block;
    height: var(--header-height);
    line-height: var(--header-height);
    letter-spacing: .02em;
    vertical-align: -1.4rem;
    text-decoration: none;
  }

  body > header > .container > h1 > a.thomas {
    overflow: hidden;
    color: transparent;
    width: 2.2rem;
  }

  /**
   * User list cover
   */
  body.user-list > div.cover {
    margin-bottom: 12rem;
    background-color: var(--thomasbook-white);
  }

  body.user-list > div.cover > img {
    display: block;
    position: absolute;
    z-index: 800;
    left: 50%;
    margin-top: 10rem;
    margin-left: -5rem;
    background-color: var(--thomasbook-white);
    border: 0.1rem solid var(--thomasbook-grey);
    padding: 0.4rem;
    width: 10rem;
    height: 10rem;
  }

  body.user-list > div.cover > div.navbar {
    display: none;
  }

  body.user-list > div.cover > h1 {
    position: absolute;
    z-index: 700;
    padding-top: 6rem;
    display: block;
    bottom: -11rem;
    left: 0;
    width: 100%;
    background-color: var(--thomasbook-white);
    /*border: 0.1rem solid var(--thomasbook-grey);*/
    /*border-radius: 0 0  0.3rem 0.3rem;*/
    font-weight: 100;
    color: var(--thomasbook-ink);
    font-family: var(--font-sans-serif);
    line-height: 5rem;
    text-align: center;
  }

  body > .info {
    margin-top: -2rem;
  }

  body > .info > article {
    background-color: var(--thomasbook-white);
    border: 0 0 0.1rem 0 solid var(--thomasbook-grey);
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    padding: 1.2rem;
  }

  /* NAVIGATION */
  body > nav {
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    padding-top: var(--header-height);
    z-index: 200;
    width: 100%;
    height: 100%;
    max-height: 100%;
    transform: translateX(-100%);
    transform-style: preserve-3d;
    will-change: transform;
    background-color: var(--thomasbook-white);
    transition: transform .2s ease-in-out;
  }

  body > nav > .container {
    grid-area: menulist;
    overflow-y: auto;
    padding-top: 1rem;
  }

  body > nav > .container ul {
    margin: 0;
    padding: 0 2rem 0 1rem;
    list-style: none;
  }

  body > nav > .container ul > li {
    display: block;
  }

  body > nav > .container ul > li a {
    display: block;
    margin: 0.2rem 0;
    padding: 0.2rem 1rem;
    transition: background-color .5s ease-in-out;
  }

  /* CONTENT */
  body > main > section.list > article > .preview {
    border-radius: 0.4rem;
    box-shadow: 0 0.1rem 0.05rem var(--thomasbook-dark-grey);
  }

  body.blog-post h1, body.blog-post h1 *,
  body.blog-post h2, body.blog-post h2 *,
  body.blog-post h3, body.blog-post h3 *,
  body.blog-post h4, body.blog-post h4 *,
  body.blog-post h5, body.blog-post h5 *,
  body.blog-post h6, body.blog-post h6 * {
    white-space: normal;
    letter-spacing: normal;
    padding: 0.5rem 0;
  }

  body.blog-post > main > section.post > article {
    font-size: var(--size-middle);
    line-height: var(--size-middle-line);
  }

  body.blog-post > main > section.post > article > p.meta > span.date {
    font-size: var(--size-normal);
    color: var(--thomasbook-dark-grey);
    text-transform: uppercase;
  }

  body.blog-post > main > section.post > article > div.body p {
    text-indent: 1.5rem;
  }

  body.blog-post > main > section.post > article > div.body blockquote {
    margin: 1.6rem 4rem 1.6rem 2rem;
  }

  body.blog-post > main > section.post > article > div.body blockquote p {
    text-indent: 0;
    font-family: var(--font-serif);
    font-size: var(--size-normal);
    line-height: var(--size-large-line);
    letter-spacing: var(--size-letter-spacing-expand);
    font-style: italic;
    border-left: 0.5rem solid var(--thomasbook-blue);
    padding-left: 2rem;
  }

  body.blog-post > main > section.post > article > div.body pre,
  body.blog-post > main > section.post > article > div.body pre *,
  body.blog-post > main > section.post > article > div.body div.table,
  body.blog-post > main > section.post > article > div.body div.table *{
    text-overflow: clip;
    overflow: auto;
  }

  body.blog-post > main > section.post > article > div.body ul,
  body.blog-post > main > section.post > article > div.body ol,
  body.blog-post > main > section.post > article > div.body li {
    overflow: visible;
  }

  body.blog-post > main > section.post > article > div.body li p {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  body.blog-post > main > section.post > article > div.footer {
    display: block;
    position: absolute;
    width: 100%;
    z-index: 100;
    background: var(--thomasbook-lighter-grey);
    border-top: 0.1rem dashed var(--thomasbook-dark-grey);
    margin: 2rem -1.1rem -1.1rem -1.1rem;
    padding: 1rem;
    overflow: visible;
  }

  body.blog-post > main > section.post > article > div.footer > a.author {
    display: block;
    width: 10rem;
    height: 10rem;
    background-color: var(--thomasbook-white);
    border: 0.1rem solid var(--thomasbook-grey);
    margin: -4.5rem auto 0 auto;
    padding: 0.4rem;
  }

  body.blog-post > main > section.post > article > div.footer > h5 {
    border-bottom: 0.05rem dotted var(--thomasbook-dark-grey);
  }

  body.blog-post > main > section.post > article > div.footer > div.details {

  }

  /* animations */
  body > nav.opening,
  body > nav.open {
    transform: translateX(0);
  }

  body > nav.open + main {
    overflow: hidden;
  }

  body > main * {
    max-width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }

  body > footer {
    font-size: 0.8em;
    line-height: 1em;
    color: var(--thomasbook-dark-grey);
    text-shadow: 0.1rem 0.1rem 0 var(--thomasbook-white);
    margin: -0.5rem 0.5rem 1rem 0.5rem;
  }

  body > footer p {
    margin: 0;
  }
}

/*
 * Destktop
 */
@media (min-width: 64.0626em)
{
  body {
    grid-template-columns: auto 18rem 50rem 31rem auto;
    grid-template-rows: var(--header-height) auto 0;
    grid-template-areas:
            "header header header header header"
            ". nav main footer ."
            ". . . . .";
  }

  body.blog-post {
    grid-template-columns: auto 18rem 82rem auto;
    grid-template-rows: var(--header-height) auto 5rem;
    grid-template-areas:
            "header header header header"
            ". nav main ."
            ". . footer .";
  }

  body.user-list {
    grid-template-columns: auto 34rem 50rem 15rem auto;
    grid-template-rows: var(--header-height) 31.5rem max-content auto 5rem;
    grid-template-areas:
            "header header header header header"
            ". cover cover . . "
            ". info main . ."
            ". nav main . ."
            ". . footer . .";
  }

  /* HEADER */
  body > header {
    display: grid;
    align-content: stretch;
    align-items: stretch;
    justify-content: stretch;
    justify-items: stretch;
    grid-template-columns: auto 101rem auto;
    grid-template-rows: 100%;
    grid-template-areas: ". header-container .";
  }

  body > header > .container {
    grid-area: header-container;
  }

  body > header > .container > a.nav {
    display: none;
  }

  body > header > .container > h1 > a.thomas {
    overflow: unset;
    text-overflow: unset;
  }

  /**
   * User list cover
   */
  body.user-list > div.cover > img {
    display: block;
    position: absolute;
    z-index: 800;
    bottom: -2.2rem;
    left: 1.5rem;
    background-color: var(--thomasbook-white);
    border: 0.1rem solid var(--thomasbook-grey);
    padding: 0.4rem;
    margin: 0;
    width: 16.7rem;
    height: 16.7rem;
  }

  body.user-list > div.cover > div.navbar {
    background-color: var(--thomasbook-white);
    border: 0.1rem solid var(--thomasbook-grey);
    border-radius: 0 0  0.3rem 0.3rem;
    margin-bottom: 0;
    padding: 1.2rem;
    display: block;
    position: absolute;
    z-index: 700;
    left: 0;
    bottom: -4.3rem;
    height: 4.3rem;
    width: 100%;
  }

  body.user-list > div.cover > h1 {
    display: block;
    position: absolute;
    z-index: 750;
    bottom: 0;
    left: 0;
    height: 6rem;
    width: 100%;
    padding: 1rem 0 0 20rem;
    margin: 0;
    font-weight: 100;
    color: var(--thomasbook-white);
    font-family: var(--font-sans-serif);
    line-height: 5rem;
    background: linear-gradient(to bottom, rgba(76,76,76,0) 0%,rgba(19,19,19,0.5) 100%);
  }

  body > .info > article {
    background-color: var(--thomasbook-white);
    border: 0.1rem solid var(--thomasbook-grey);
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    padding: 1.2rem;
  }

  /* MENU */
  body > nav > .container {
    margin-top: -5rem;
    position: sticky;
    z-index: 500;
    top: 6rem;
    height: min-content;
  }

  body.user-list > nav > .container {
    margin-top: 0;
  }

  body > nav > .container > section {
    margin-bottom: 0.5rem;
  }

  /* CONTENT */
  body.blog-post h1, body.blog-post h1 *,
  body.blog-post h2, body.blog-post h2 *,
  body.blog-post h3, body.blog-post h3 *,
  body.blog-post h4, body.blog-post h4 *,
  body.blog-post h5, body.blog-post h5 *,
  body.blog-post h6, body.blog-post h6 * {
    white-space: normal;
    letter-spacing: normal;
    padding: 0.4rem 0.6rem;
  }

  body.blog-post h1, body.blog-post h1 * {
    font-size: var(--size-post-h1);
    line-height: var(--size-post-h1-line);
  }

  body.blog-post h2, body.blog-post h2 * {
    font-size: var(--size-post-h2);
    line-height: var(--size-post-h2-line);
  }

  body.blog-post h3, body.blog-post h3 * {
    font-size: var(--size-post-h3);
    line-height: var(--size-post-h3-line);
  }

  body.blog-post h4, body.blog-post h4 * {
    font-size: var(--size-post-h4);
    line-height: var(--size-post-h4-line);
  }

  body.blog-post h5, body.blog-post h5 * {
    font-size: var(--size-post-h5);
    line-height: var(--size-post-h5-line);
  }

  body.blog-post h6, body.blog-post h6 * {
    font-size: var(--size-post-h6);
    line-height: var(--size-post-h6-line);
  }

  body.blog-post > main > section.post > article {
    width: 82rem;
    display: grid;
    align-content: stretch;
    align-items: stretch;
    justify-content: stretch;
    justify-items: stretch;
    grid-gap: 1rem;
    grid-template-columns: 10rem 68rem;
    grid-template-rows: max-content max-content auto max-content;
    grid-template-areas:
            "body-header body-header"
            "body-date body-lead"
            "body-date body-content"
            "body-footer body-footer";
  }

  body.blog-post > main > section.post > article > header {
    grid-area: body-header;
    padding: 3rem 2rem;
  }

  body.blog-post > main > section.post > article > header > p.author a,
  body.blog-post > main > section.post > article > header > p.author a:hover {
    text-decoration: none;
    color: var(--thomasbook-ink);
  }

  body.blog-post > main > section.post > article > p.meta {
    grid-area: body-date;
  }

  body.blog-post > main > section.post > article > p.meta > span.date {
    display: block;
    text-align: right;
    padding: 0.6rem 0 0 1rem;
    color: var(--thomasbook-dark-grey);
    font-size: var(--size-normal);
    line-height: var(--size-large-line);
    text-transform: uppercase;
  }

  body.blog-post > main > section.post > article > p.lead {
    grid-area: body-lead;
    font-size: var(--size-large);
    line-height: var(--size-large-line);
    margin-bottom: 0;
  }

  body.blog-post > main > section.post > article > p.lead img {
    margin: 2rem 0 0 0;
  }

  body.blog-post > main > section.post > article > div.body {
    grid-area: body-content;
    font-size: var(--size-large);
    line-height: var(--size-large-line);
  }

  body.blog-post > main > section.post > article > div.body p {
    text-indent: 1.5rem;
    padding-right: 10rem;
  }

  body.blog-post > main > section.post > article > div.body ul,
  body.blog-post > main > section.post > article > div.body figure {
    padding-right: 10rem;
  }

  body.blog-post > main > section.post > article > div.body blockquote {
    padding: 0 0 0 10rem;
    margin: 0 0 0 -10rem;
    min-height: 5.5rem;
  }

  body.blog-post > main > section.post > article > div.body blockquote.update {
    background-color: var(--thomasbook-light-grey);
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 1rem;
    border: 0.1rem dashed var(--thomasbook-dark-grey);
    margin: 2rem 0 2rem -10rem;
  }

  body.blog-post > main > section.post > article > div.body blockquote p {
    text-indent: 0;
    font-family: var(--font-serif);
    font-size: var(--size-middle);
    line-height: var(--size-large-line);
    letter-spacing: var(--size-letter-spacing-expand);
    font-style: italic;
    padding: 0 12rem 0 2rem;
    min-height: 10rem;
  }

  body.blog-post > main > section.post > article > div.body blockquote p::before {
    content: '❝';
    width: 12rem;
    height: 5.5rem;
    margin-left: -12rem;
    display: block;
    float: left;
    font-size: 9rem;
    line-height: 9rem;
    overflow: visible;
    color: var(--thomasbook-blue-trans);
  }

  body.blog-post > main > section.post > article > div.body blockquote.update p {
    font-style: normal;
    font-size: var(--size-normal);
    line-height: var(--size-middle-line);
  }

  body.blog-post > main > section.post > article > div.body blockquote.update p::before {
    content: 'update';
    font-feature-settings: 'liga';
    font-family: var(--font-fantasy);
  }

  body.blog-post > main > section.post > article > div.body hr {
    width: 58rem;
    margin: 0.4rem 0;
  }

  body.blog-post > main > section.post > article > div.footer {
    grid-area: body-footer;
    margin: 0 -1.7rem -1.2rem -1.2rem;
    max-width: 82rem;
    padding: 2rem 1.8rem 1.2rem 1.2rem;
    background: var(--thomasbook-lighter-grey);
    border-top: 0.1rem dashed var(--thomasbook-dark-grey);

    display: grid;
    align-content: stretch;
    align-items: stretch;
    justify-content: stretch;
    justify-items: stretch;
    grid-gap: 1rem;
    grid-template-columns: 10rem auto 10rem;
    grid-template-rows: max-content max-content;
    grid-template-areas:
            "footer-avatar footer-title ."
            "footer-avatar footer-details .";
  }

  body.blog-post > main > section.post > article > div.footer > a.author,
  body.blog-post > main > section.post > article > div.footer > h5,
  body.blog-post > main > section.post > article > div.footer > div.details,
  body.blog-post > main > section.post > article > div.footer > p {
    vertical-align: top;
    display: inline-block;
    padding: 0;
    margin: 0;
  }

  body.blog-post > main > section.post > article > div.footer > a.author {
    grid-area: footer-avatar;
  }

  body.blog-post > main > section.post > article > div.footer > h5 {
    grid-area: footer-title;
    border-bottom: 0.05rem dotted var(--thomasbook-dark-grey);
  }

  body.blog-post > main > section.post > article > div.footer > div.details {
    grid-area: footer-details;
  }


  /* FOOTER */
  body > footer {
    color: var(--thomasbook-darker-grey);
    font-size: var(--size-small);
    line-height: var(--size-small-line);
    font-weight: 400;
  }

  body:not(.blog-post) > footer .container {
    margin-top: -6rem;
    position: sticky;
    z-index: 100;
    top: 6rem;
    height: 0;
  }

  body.user-list > footer .container {
    margin-top: 0;
  }

  body > footer .container p {
    padding-left: 1.2rem;
    text-align: left;
    text-shadow: 0.1rem 0.1rem 0 var(--thomasbook-white);
  }
}
